:root {
  --arabic-font: "";
}
body {
  font-family: "Noto Serif", serif;
}
h1,
h2 {
  margin-bottom: 1rem;
}
.arabic {
  direction: rtl;
  font-family: var(--arabic-font), serif;
  font-size: x-large;
}
.aya-separator {
  margin-left: 0.35em;
}
.container {
  margin-top: 1rem;
  max-width: 76ch;
}
.form-group {
  max-width: 28ch;
}
.label-para {
  margin-top: 1rem;
}
.poetry-card {
  max-width: 44ch;
}
#first-note {
  margin-top: 1rem;
}
#intro-accordion p,
#notes-accordion p {
  hyphens: auto;
}
#ligatures-card {
  max-width: 44ch;
}
